@page "/"

<h1>DevTools</h1>
<hr />

<p style="font-size: 110%; font-weight: bold">
    DevTools is a privacy-focused set of tools that provides commonly-needed features for
    software developers.
</p>

<p>
    Tired of searching for 'RGB to Hex', GUID generators, and other stuff you need in your day-to-day,
    only to find every result loads megabytes of advertisements, trackers, and other JavaScript nuisances?
    DevTools is a way to avoid that mess and get your work done with peace of mind. No spying, tracking, malvertisements,
    or other garbage. DevTools loads no external content and never phones home.
</p>

<p>
    Clone the repo from <a href="https://github.com/erik1066/devtools">https://github.com/erik1066/devtools</a> and build
    locally using the cross-platform <a href="https://dotnet.microsoft.com/download">.NET Core SDK</a>.
</p>

<p>
    Windows 10 is supported via a WPF application. Cross-platform support is provided via a web app. Feature comparison:
</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Feature</th>
            <th scope="col">Desktop (WPF)</th>
            <th scope="col">Web (Blazor)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>JsonPath Tester</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Json Transformer</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Regular expression tester</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>RGB to Hex converter</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Base64 encoder and decoder</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>SHA-1 and SHA-2 (512) hasher</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>File encrytor/decryptor</td>
            <td>Yes</td>
            <td class="bg-danger">No</td>
        </tr>
        <tr>
            <td>
                GUID/UUID generator
            </td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
    </tbody>

</table>