@page "/jsonpathtester"
@using DevTools.WebUI.Models
@using Newtonsoft.Json.Linq


<EditForm Model="@jsonPathModel" OnValidSubmit="@DoPathTest">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="jsonpath">
            JsonPath expression:
        </label>
        <InputText id="jsonpath" style="font-family: Consolas, monospace" class="form-control" @bind-Value="jsonPathModel.JsonPath" />
    </div>

    <div style="height: 1em;"></div>
    <button type="submit" class="btn btn-primary mb-2">Test JsonPath expression</button>
    <div style="height: 1em;"></div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="input">
                    Input:
                </label>
                <InputTextArea style="font-family: Consolas, monospace" id="input" class="form-control" rows="15" @bind-Value="jsonPathModel.Input" />
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="output">
                    Output:
                </label>
                <InputTextArea style="font-family: Consolas, monospace" readonly id="output" class="form-control" rows="15" @bind-Value="jsonPathModel.Output" />
            </div>
        </div>
    </div>
</EditForm>

@code {

    JsonPathModel jsonPathModel = new JsonPathModel();

    private void DoPathTest()
    {
        string jsonDocument = jsonPathModel.Input;
        string jsonPath = jsonPathModel.JsonPath;

        if (string.IsNullOrEmpty(jsonDocument)) return;
        if (string.IsNullOrEmpty(jsonPath)) return;

        jsonPathModel.Output = Common.JsonPathTest(jsonDocument, jsonPath);
    }
}
