<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DevTools</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="jsonpathtester">
                JsonPath Tester
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="regextester">
                Regular Expression Tester
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="rgbtohex">
                RGB to Hex Converter
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="base64encoder">
                Base64 Encoder
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hasher">
                Hasher
            </NavLink>
        </li>

        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="fileencryptor">
                File Encryption/Decryption
            </NavLink>
        </li>*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="guidgenerator">
                GUID/UUID Generator
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
